.Container {
  display: flex;
  flex-direction: row;

  --height: 200px;
  height: var(--height);
  --width: calc(var(--height) / 1.5 * 2);
  width: var(--width);

  --border-color: hsl(0, 0%, 90%);
  --border: 1px solid var(--border-color);
  --border-radius: var(--border-radius-1);

  border: var(--border);
  border-radius: var(--border-radius);

  background-color: hsl(0, 0%, 99%);
}

.Cover {
  width: 100%;
  height: 100%;
}

.ImageContainer {
  position: relative;
  height: var(--height);
  min-width: calc(var(--height) / 1.5);

  border: var(--border);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow: hidden;

  /* don't let the parent's border offset this element */
  margin-top: -1px;
  margin-left: -1px;
}

.Info {
  height: var(--height);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--border-radius)/2) var(--border-radius);
}

.BookTitle {
  font-size: var(--font-size-3);
}

.AuthorName {
  font-size: var(--font-size-2);
  color: var(--color-text-lighten-1);
}

.ReadInfo {
  align-self: flex-end;
  font-size: var(--font-size-1);
  color: var(--color-text-lighten-1);
}
