.Container {
  display: flex;
  flex-direction: row;

  --border-color: hsl(0, 0%, 90%);
  --border: 1px solid var(--border-color);
  --border-radius: var(--border-radius-1);

  border: var(--border);
  border-radius: var(--border-radius);

  background-color: hsl(0, 0%, 99%);

  --progress-bar-color: hsl(0, 0%, 75%);
}

.TransparentContainer {
  background-color: hsla(0, 0%, 99%, 0.85);
}

.DualVariant {
  --height: 200px;
  height: var(--height);
  --width: calc(var(--height) / 1.5 * 2);
  width: var(--width);
}

.MinimalVariant {
  --height: 100px;
  height: var(--height);
  --width: calc(var(--height) * 2);
  width: var(--width);
}

.Cover {
  width: 100%;
  height: 100%;
}

.ImageContainer {
  position: relative;
  height: var(--height);
  min-width: calc(var(--height) / 1.5);

  border: var(--border);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow: hidden;

  /* don't let the parent's border offset this element */
  margin-top: -1px;
  margin-left: -1px;
}

.Info {
  height: var(--height);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--border-radius);
}

.BookTitle {
  font-family: Inter, Helvetica Neue, sans-serif;
}
.DualVariant .BookTitle {
  font-size: var(--font-size-4);
}
.MinimalVariant .BookTitle {
  font-size: var(--font-size-3);
}

.AuthorName {
  margin-top: var(--space-0);
  color: var(--color-text-lighten-1);
}
.DualVariant .AuthorName {
  font-size: var(--font-size-4);
}
.MinimalVariant .AuthorName {
  font-size: var(--font-size-3);
}

.InfoFooter {
  align-self: flex-end;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: Inter, Helvetica Neue, sans-serif;
  color: var(--color-text-lighten-1);
}
.DualVariant .InfoFooter {
  font-size: var(--font-size-2);
}
.MinimalVariant .InfoFooter {
  font-size: var(--font-size-1);
}

.ProgressBarOuter {
  width: 100%;
  height: var(--space-1);
  border: 1px solid var(--progress-bar-color);
  border-radius: var(--border-radius-1);
}

.ProgressBarInner {
  height: 100%;
  background-color: var(--progress-bar-color)
}
