.Nav {
  position: sticky;
  top: 0;

  width: 100%;
  padding-top: var(--space-3);
  padding-bottom: var(--space-2);

  font-size: var(--font-size-2);
  font-family: Inter, Helvetica Neue, sans-serif;

  z-index: 3;
  background: white;
  background: linear-gradient(
    180deg,
    white 0%,
    white 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.Nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: var(--space-2);
}

.Nav a {
  color: var(--color-text-primary);
}

.CurrentPage {
  text-decoration: underline;
  text-underline-offset: var(--space-1);
}
