:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 48px;
  --space-5: 64px;
  --space-6: 80px;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 24px;
  --font-size-6: 32px;

  --border-radius-1: 8px;

  --color-primary: #268bd2;
  --color-secondary: #d27426;

  --color-text-primary: black;
  --color-text-lighten-1: hsl(0, 0%, 35%);
  --color-text-lighten-2: hsl(0, 0%, 50%);
  --color-text-lighten-3: hsl(0, 0%, 75%);
  --color-text-lighten-4: hsl(0, 0%, 80%);
}
